
<div class="info">

    <div class="companyName">
        <h1><strong>{{ nombreEmpresa }}</strong></h1>
        <h4 class="address">{{ direccionEmpresa }}</h4>
      </div>

    <div class="generalInfo">
        <h2 class="title"><strong> Información General</strong></h2>
    </div>

    <div class="squares">
        <div class="activeProcess">
            <div class="icono">
                <i class="fa-regular fa-clipboard"></i> 
            </div>
            <div class="contenido">
                <p class="texto-izquierda">Procesos Activos</p>
                <p class="texto-derecha"><strong>{{activeProcess}}</strong></p>
            </div>
        </div>
        <div class="registerLawyers">
            <div class="icono">
                <i class="fas fa-users"></i> 
            </div>
            <div class="contenido">
                <p class="texto-izquierda">Procesos Finalizados a Favor</p>
                <p class="texto-derecha"><strong>{{favorProcess}}</strong></p>
            </div>
        </div>

    </div>


    <div class="squares">
        <div class="finishProcess1">
            <div class="icono">
                <i class="fa-regular fa-clipboard"></i> 
            </div>
            <div class="contenido">
                <p class="texto-izquierda">Procesos Finalizados en Contra</p>
                <p class="texto-derecha"><strong>{{againstProcess}}</strong></p>
            </div>
        </div>

    </div>

</div>

