<div class="titleinfoLawyer">
  <h1><strong> Informacion del abogado</strong></h1>
</div>
<div class="infoLawyer">
  <div class="photoProfile">
    <img [src]="imageUrl" alt="Foto"  class="rounded-image" />
  </div>
  <div class="columns">
    <div class="column1">
      <p><strong>Nombres</strong></p>
      <p><strong>Email</strong></p>
      <p><strong>Telefono</strong></p>
      <p><strong>N°documento</strong></p>
      <p><strong>Especialidad</strong></p>
    </div>
    <div class="column2">
      <p>{{ name }}</p>
      <p>{{ email }}</p>
      <p>{{ numberPhone }}</p>
      <p>{{ identification }}</p>
      <p>{{ speciality }}</p>
    </div>
  </div>
</div>
<h3><strong> Procesos asignados</strong></h3>
<div class="table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="numeroRadicado">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="vertical-align: middle; color: rgb(146, 144, 144)"
      >
        Numero Radicado
      </th>
      <td mat-cell *matCellDef="let row" style="vertical-align: middle">
        {{ row.numeroRadicado }}
      </td>
    </ng-container>

    <ng-container matColumnDef="despacho">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="vertical-align: middle; color: rgb(146, 144, 144)"
      >
        Despacho
      </th>
      <td mat-cell *matCellDef="let row" style="vertical-align: middle">
        {{ row.despacho }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tipoProceso">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="vertical-align: middle; color: rgb(146, 144, 144)"
      >
        Tipo Proceso
      </th>
      <td mat-cell *matCellDef="let row" style="vertical-align: middle">
        {{ row.tipoProceso }}
      </td>
    </ng-container>

    <ng-container matColumnDef="fechaRadicacion">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="vertical-align: middle; color: rgb(146, 144, 144)"
      >
        Fecha Radicacion
      </th>
      <td mat-cell *matCellDef="let row" style="vertical-align: middle">
        {{ row.fechaRadicacion }}
      </td>
    </ng-container>

    <!-- Encabezados de fila -->
    <tr
      mat-header-row
      *matHeaderRowDef="[
        'numeroRadicado',
        'despacho',
        'tipoProceso',
        'fechaRadicacion'
      ]"
    ></tr>

    <!-- Filas de datos -->
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: [
          'numeroRadicado',
          'despacho',
          'tipoProceso',
          'fechaRadicacion'
        ]
      "
      style="cursor: pointer"
      (click)="redirectToOtherComponent(row)"
    ></tr>
  </table>
  <mat-paginator
    [length]="totalItems"
    [pageSize]="pageSize"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
