<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>register process</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div class="botonBack">
        <button class="button" (click)="goBack()"><span class="fa-solid fa-angle-left"></span> </button>
    </div>
    <div class="infoPerfil">

        <div class="imagenPerfil">
            <div class="tituloPerfil">
                <h1>Mi Cuenta</h1>
            </div>
            <div class="foto">
                
            </div>
            <div class="nombrePerfil">
                <h2 class="nombrePerfil">
                    Daniel Barreto
                </h2>
            </div>
        </div>
        <div class="datosPerfil">
            <div class="form-group">
                <label for="Nombre">Nombre: </label>
                <input type="text" class="form-control custom-input" id="Nombre" name="Nombre" >
            </div>
            <div class="form-group">
                <label for="Identificacion">Identificación: </label>
                <input type="text" class="form-control custom-input" id="Identificacion" name="Identificacion">
            </div>
            <div class="form-group">
                <label for="Correo Electronico">Correo Electrónico: </label>
                <input type="text" class="form-control custom-input" id="Correo Electronico" name="Correo electronico">
            </div>
            <div class="form-group">
                <label for="Telefono">Teléfono: </label>
                <input type="text" class="form-control custom-input" id="Telefono" name="Telefono">
            </div>
        </div>
    </div>
    <div class="botonActualizar">
        <button type="submit" class="btn3" >Actualizar</button>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>