<div class="form">
    <div class="inputContainer">
        <label for="link">Enlace audiencia:</label>
        <input type="text" id="link" name="link" placeholder="Ingrese el link de la audiencia" [(ngModel)]="link" pattern="[0-9]{1,}">
    </div>
    <div class="inputContainer">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" placeholder="Ingrese el nombre de la audiencia" [(ngModel)]="name" >
    </div>
    
    <div class="buttonCreate">
        <button class="buttonCreated" (click)="crearAudiencia()">Agregar</button>
    </div>
</div>