<div class="titleinfoLawyer">
    <h1><strong> Informacion del abogado</strong></h1>
</div>
<div class="infoLawyer">
    <div class="photoProfile">
        <img  alt="Foto" style="width: 200px; height: auto;">
    </div>
    <div class="columns">
        <div class="column1">
            <p><strong>Nombres</strong></p>
            <p><strong>Email</strong></p>
            <p><strong>Telefono</strong></p>
            <p><strong>N°documento</strong></p>
            <p><strong>Especialidad</strong></p>
        </div>
        <div class="column2">
            <p>{{name}}</p>
            <p>{{email}}</p>
            <p>{{numberPhone}}</p>
            <p>{{identification}}</p>
            <p>{{speciality}}</p>
        </div>
    </div>
</div>

<div class="table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        
        <!-- Columnas de texto -->
        <ng-container *ngFor="let columnName of columnNames" [matColumnDef]="columnName">
          <th mat-header-cell *matHeaderCellDef style="vertical-align: middle; color: rgb(146, 144, 144);"> {{ columnName | titlecase }} </th>
          <td mat-cell *matCellDef="let row" style="vertical-align: middle;"> {{ row[columnName] }} </td>
        </ng-container>

        <!-- Encabezados de fila -->
        <tr mat-header-row *matHeaderRowDef="['Radicado', 'Despacho', 'Tipo', 'Fecha']"></tr>
          
        <!-- Filas de datos -->
        <tr mat-row *matRowDef="let row; columns: ['Radicado', 'Despacho', 'Tipo', 'Fecha']" style="cursor: pointer;" (click)="redirectToOtherComponent(row)"></tr>
      </table>
      
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="justify-content: center; "></mat-paginator>
      
    </div>
