.header {
    width: 81.8vw; /* Establece el ancho al 100% del viewport */
    background-color: #d23434; 
    display: flex;
    justify-content: end;
    align-items: center;
    height: 80px;
  }
  
  .buttonprofile {
  }
  
  .boton {
    background-color: transparent; /* Color de fondo transparente */
    border: none; /* Elimina el borde */
    padding: 10px 20px; /* Ajusta el padding del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
  }
  
  .boton:hover {
    background-color: #e0e0e0; /* Cambia el color de fondo al pasar el ratón por encima */
  }
  