<div class="infoAction">
    <h1><strong> Información de la actuación</strong></h1>
</div>

<div class="columns">
    <div class="column">
        <div class="half-column1">
            <p><strong>Despacho</strong></p>
            <p><strong>Fecha Actuación</strong></p>
            <p><strong>Anotación</strong></p>
        </div>
        <div class="half-column2">
            <p>{{despacho}}</p>
            <p>{{date}}</p>
            <p>{{annotation}}</p>
        </div>
    </div>
    <div class="column">
        <div class="half-column1">
            <p><strong>Tipo de proceso</strong></p>
            <p><strong>Actuación </strong></p>
            <p><strong>Fecha de Registro</strong></p>
        </div>
        <div class="half-column2">
            <p>{{typeProcess}}</p>
            <p>{{action}}</p>
            <p>{{dateRegister}}</p>
        </div>
    </div>
</div>

<div class="subject">
    <div class="column">
        <div class="half-column4">
            <p class="sujetos"><strong>Sujetos</strong></p>
        </div>
        <div class="half-column3">
            <li *ngFor="let item of listaSujetos">{{ item }}</li>
        </div>
    </div>
</div>

<div class="description">
    <p>Para acceder a la página en la que encontrará el documento, haga clic en el siguiente botón:</p>
    <a [href]="officeURL" target="_blank" class="iframe-link">Ir al micrositio</a>
    <br><br>
    <p>Para cargar la providencia de click en el siguiente boton::</p>
    <form class="uploaddocument" (submit)="uploadDoc($event)" enctype="multipart/form-data">
        <div>
            <input class="iframe-linkdoc" type="file" (change)="selectDoc($event)" accept=".pdf">
        </div>
        <div>
            <button type="submit" class="iframe-link-doc">Cargar providencia</button>
        </div>
    </form>
    
    
</div>

<div class="description">
    
</div>