<div class="infoProcess">
    <h1><strong> Crear Proceso</strong></h1>
    <h2 class="description">Información del proceso</h2>
</div>

<div class="columns">
    <div class="column">
        <p><strong>N° Radicado</strong></p>
        <p><strong>Despacho</strong></p>
        <p><strong>Tipo Proceso</strong></p>
        <p><strong>Fecha Radicación</strong></p>
        <p><strong>Sujetos Procesales</strong></p>
    </div>
    <div class="column">
        <p>11001400305420210000800</p>
        <p>JUZGADO 054 CIVIL MUNICIPAL DE BOGOTÁ</p>
        <p>DECLARATIVO</p>
        <p>2021-01-13</p>   
        <li>BBVA SEGUROS DE VIDA COLOMBIA S.A.</li>
        <li>DIEGO ALFONSO REYES MURCIA</li>
        <li>DIEGO ALFONSO REYES MURCIA</li>
    </div>
</div>

<div class="select">
    <h4 class="description">Seleccione el abogado que desea asignar a el proceso</h4>
    <select id="opciones" name="opciones">
        <option value="" selected disabled>Seleccionar</option>
        <option value="opcion1">Opción 1</option>
        <option value="opcion2">Opción 2</option>
        <option value="opcion3">Opción 3</option>
        <option value="opcion4">Opción 4</option>
      </select>
</div>

<div class="buttonBuscar">
    <button>Crear Proceso</button>
</div>
