<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Inicio de Sesión</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
</body>
<div class="info">

    <div class="companyName">
        <h1><strong> Bran Holding Abogados & Asociados</strong></h1>
        <h2 class="address">Calle 6c #82a-25</h2>
    </div>

    <div class="generalInfo">
        <h2 class="title"><strong> Información General</strong></h2>
    </div>

    <div class="squares">
        <div class="activeProcess">
            <div class="icono">
                <i class="fa-regular fa-clipboard"></i> 
            </div>
            <div class="contenido">
                <p class="texto-izquierda">Procesos Activos</p>
                <p class="texto-derecha"><strong>80</strong></p>
            </div>
        </div>

        <div class="registerLawyers">
            <div class="icono">
                <i class="fas fa-users"></i> 
            </div>
            <div class="contenido">
                <p class="texto-izquierda">Abogados Registrados</p>
                <p class="texto-derecha"><strong>34</strong></p>
            </div>
        </div>

    </div>

    <div class="infoProcess">
        <h2 class="title"><strong> Información General de Procesos</strong></h2>
    </div>

    <div class="squares">
        <div class="finishProcess1">
            <div class="icono">
                <i class="fa-regular fa-clipboard"></i> 
            </div>
            <div class="contenido">
                <p class="texto-izquierda">Procesos Finalizados a favor</p>
                <p class="texto-derecha"><strong>10</strong></p>
            </div>
        </div>

        <div class="finishProcess2">
            <div class="icono">
                <i class="fa-regular fa-clipboard"></i> 
            </div>
            <div class="contenido">
                <p class="texto-izquierda">Procesos Finalizados en contra</p>
                <p class="texto-derecha"><strong>8</strong></p>
            </div>
        </div>

    </div>

</div>



</html>