<div class="titleinfoLawyer">
    <h1><strong> Informacion del proceso</strong></h1>
</div>
<div class="infoProcess">
    <div class="columns">
        <div class="column1">
            <p><strong>Numero Radicado</strong></p>
            <p><strong>Sujetos procesales</strong></p>
        </div>
        <div class="column2">
            <p>{{nRadicado}}</p>
            <li *ngFor="let item of listaItems">{{ item }}</li>
        </div>
    </div>

    <div class="columns">
        <div class="column3">
            <p><strong>Abogado encargado</strong></p>
            <p><strong>Estado</strong></p>
        </div>
        <div class="column2">
            <select id="opciones" name="opciones">
                <option *ngFor="let opcion of opcionesLawyer" [value]="opcion.valor">{{ opcion.texto }}</option>
            </select>   
            <select id="opciones" name="opciones">
                <option *ngFor="let opcion of opcionesState" [value]="opcion.valor">{{ opcion.texto }}</option>
            </select>   
        </div>
    </div>
</div>

<div class="buttonCreateDiv">
    <button class="buttonCreate" (click)="crearProceso()">Guardar</button>
</div>

<div class="titleAction">
    <h1><strong>Actuaciones</strong></h1>
    <button class="buttonFilter" ><span class="fa-solid fa-filter"></span> </button>
</div>

<div class="table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        
        <!-- Columnas de texto -->
        <ng-container *ngFor="let columnName of columnNames" [matColumnDef]="columnName">
          <th mat-header-cell *matHeaderCellDef style="vertical-align: middle; color: rgb(146, 144, 144);"> {{ columnName | titlecase }} </th>
          <td mat-cell *matCellDef="let row" style="vertical-align: middle;"> {{ row[columnName] }} </td>
        </ng-container>

        <!-- Encabezados de fila -->
        <tr mat-header-row *matHeaderRowDef="['Radicado', 'Despacho', 'Tipo', 'Fecha']"></tr>
          
        <!-- Filas de datos -->
        <tr mat-row *matRowDef="let row; columns: ['Radicado', 'Despacho', 'Tipo', 'Fecha']" style="cursor: pointer;" (click)="redirectToOtherComponent(row)"></tr>
      </table>
      
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="justify-content: center; "></mat-paginator>
      
    </div>
