<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Inicio de Sesión</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
        <div class="menu">

            <div class="logo">
                <img src="/assets/logoFirma.png" alt="Descripción de la imagen" style="padding: 15px; margin-top: 55px;">
            </div>
            
            <div class="button">
                <button class="boton" routerLink="/main">Menu Principal<span class="icon-pull-right fas fa-home"> </span></button>
                <button *ngIf="rol === 'jefe'" class="boton" routerLink="/listlawyer">Abogados<span class="icon-pull-right fas fa-users"> </span></button>
                <button class="boton" routerLink="/listprocessadmin">Procesos<span class="icon-pull-right fa-regular fa-clipboard"> </span></button>
            </div>
            <div class="exit">
                <button class="botonExit" routerLink="/login">Cerrar Sesión<span class="icon-pull-right fas fa-sign-out-alt"> </span></button>
            </div>
        </div>
</body>


</html>