<div class="head">
  <div class="title">
    <h3>Mis abogados</h3>
  </div>
  <div class="options">
    <input type="text" id="lawyer" name="lawyer" placeholder="Buscar abogado...">
    <button class="buttonFilter" ><span class="fa-solid fa-filter"></span> </button>
    <button class="buttonCreate"  routerLink="/registerlawyer">Crear Abogado</button>
  </div>
</div>

<div class="table">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <!-- Columna de foto -->
    <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
        <img [src]="row.photo" alt="Foto" style="width: 50px; height: auto;">
        </td>
    </ng-container>
    
    <!-- Columnas de texto -->
    <ng-container *ngFor="let columnName of columnNames" [matColumnDef]="columnName">
      <th mat-header-cell *matHeaderCellDef style="vertical-align: middle; color: rgb(146, 144, 144);"> {{ columnName | titlecase }} </th>
      <td mat-cell *matCellDef="let row" style="vertical-align: middle;"> {{ row[columnName] }} </td>
    </ng-container>

    
    <!-- Columna de botón -->
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let row"  style="vertical-align: middle;">
        <button mat-icon-button class="custom-button" >
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </ng-container>
    
    <!-- Encabezados de fila -->
    <tr mat-header-row *matHeaderRowDef="['photo', 'Nombre', 'Correo', 'Telefono', 'Especialidad', 'Procesos', 'button']"></tr>
      
    <!-- Filas de datos -->
    <tr mat-row *matRowDef="let row; columns: ['photo', 'Nombre', 'Correo', 'Telefono', 'Especialidad', 'Procesos', 'button']" style="cursor: pointer;" (click)="redirectToOtherComponent(row)"></tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
</div>
