<div class="head">
  <div class="title">
    <h3>Mis Procesos</h3>
  </div>
  <div class="options">
    <input type="text" id="process" name="process" placeholder="Buscar proceso..." [(ngModel)]="processSearch">
    <button class="buttonFilter" ><span class="fa-solid fa-filter"></span> </button>
    <button class="buttonCreate"  routerLink="/registerprocess">Crear Proceso</button>
  </div>
</div>

<div class="table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  
    <ng-container matColumnDef="Radicado">
      <th mat-header-cell *matHeaderCellDef>Radicado</th>
      <td mat-cell *matCellDef="let element">{{ element.numeroRadicado }}</td>
    </ng-container>
  
    <ng-container matColumnDef="despacho">
      <th mat-header-cell *matHeaderCellDef>Despacho</th>
      <td mat-cell *matCellDef="let element">{{ element.despacho }}</td>
    </ng-container>
  
    <ng-container matColumnDef="tipoProceso">
      <th mat-header-cell *matHeaderCellDef>Tipo Proceso</th>
      <td mat-cell *matCellDef="let element">{{ element.tipoProceso }}</td>
    </ng-container>
  
    <ng-container matColumnDef="abogado">
      <th mat-header-cell *matHeaderCellDef>Abogado</th>
      <td mat-cell *matCellDef="let element">{{ element.abogado }}</td>
    </ng-container>
  
    <ng-container matColumnDef="fechaRadicacion">
      <th mat-header-cell *matHeaderCellDef>Fecha Radicación</th>
      <td mat-cell *matCellDef="let element">{{ element.fechaRadicacion }}</td>
    </ng-container>
  
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.estadoVisto ? 'red' : 'rgba(170,37,53,255)'}">
        {{ element.estado ? 'Actuaciones sin revisar' :  ''}}
      </td>
    </ng-container>
  
    <!-- Definición de las filas de la tabla -->
    <tr mat-header-row *matHeaderRowDef="[ 'Radicado', 'despacho',  'tipoProceso', 'abogado', 'fechaRadicacion', 'estado']"></tr>
    <tr mat-row *matRowDef="let row; columns: [ 'Radicado', 'despacho',  'tipoProceso', 'abogado', 'fechaRadicacion',  'estado']" (click)="redirectToOtherComponent(row)"></tr>
  </table>
  
  
  <mat-paginator
  [length]="totalItems"
  [pageSize]="pageSize"
  (page)="onPageChange($event)"
>
</mat-paginator>

  
</div>